#include "../../../tap.h"
#include "pybind11/pybind11.h"
#include "{{ h_filename }}"

using namespace pybind11;

{% if namespace %}
using namespace {{ namespace }};
{% endif %}

// 常量定义（若有）
{{ defines }}

///-------------------------------------------------------------------------------------
///C++ SPI的回调函数的继承实现
///-------------------------------------------------------------------------------------

class {{ class_name }} : public {{ base_class_name }}
{
private:
    {{ api_type }}* api;
    thread task_thread;
    TaskQueue task_queue;
    bool active = false;

public:
    {{ class_name }}() {}
    virtual ~{{ class_name }}()
    {
        if (this->active)
            this->exit();
    }

    void exit()
    {
        this->active = false;
        this->task_queue.close();
        if (this->task_thread.joinable())
            this->task_thread.join();
    }

    // 从基类继承的回调函数
{{ virtual_functions }}

    // 工作线程
    void processTask();

{{ process_declarations }}

    // Python 可重写的回调接口
{{ on_declarations }}

    // 主动函数
{{ function_declarations }}
};