#include "{{ file_prefix }}.h"

{% if namespace %}
using namespace {{ namespace }};
{% endif %}

///-------------------------------------------------------------------------------------
///C++的回调函数将数据保存到队列中
///-------------------------------------------------------------------------------------

{{ task_content }}

///-------------------------------------------------------------------------------------
///工作线程从队列中取出数据，转化为python对象后，进行推送
///-------------------------------------------------------------------------------------

void {{ class_name }}::processTask()
{
    try
    {
        while (this->active)
        {
            Task task = this->task_queue.pop();
            switch (task.task_name)
            {
{{ switch_content }}
            }
        }
    }
    catch (const TerminatedError&) {}
}

{{ process_content }}

///-------------------------------------------------------------------------------------
///主动函数
///-------------------------------------------------------------------------------------

{{ function_content }}

///-------------------------------------------------------------------------------------
///pybind11封装
///-------------------------------------------------------------------------------------

class Py{{ class_name }} : public {{ class_name }}
{
public:
    using {{ class_name }}::{{ class_name }};

{{ on_content }}
};

PYBIND11_MODULE({{ module_name }}, m)
{
{{ global_content }}
    class_<{{ class_name }}, Py{{ class_name }}> {{ pybind_var }}(m, "{{ class_name }}", module_local());
    {{ pybind_var }}
        .def(init<>())
{{ module_content }}
}